<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Successfully executed</h1>
    <p>The result is </p>
    <h2><%= message %></h2>
    <p><img src="<%= data %>" alt="Image"></p>
  </div>
</main>

</body>

</html>